body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.info {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding-left: 1%;
  border: 1px solid black;
  border-radius: 25px;
  background-color: #aaa;
  opacity: 0.6;
  width: 40%;
}

.btn {
  background-color: white;
  border: 3px solid black;
  margin-bottom: 4%;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}
.btn:hover {
  box-shadow: 2px 0px 10px black;
}

h4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 3.5rem;
}

@media screen and (max-width: 320px) {
  h4 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 1.3rem;
  }

  .btn {
    background-color: white;
    border: 3px solid black;
    margin-bottom: 4%;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
  }
}
@media screen and (max-width: 1204px) {
  .btn {
    background-color: white;
    border: 3px solid black;
    margin-bottom: 4%;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
  }
}
