body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
  background-color: #aaa;
  opacity: 0.6;
  width: 450px;
  padding: 20px;
  margin: 35px;
}

.btn {
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  text-decoration: none;
  padding: 10px;
  align-self: center;
  font-size: 24px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  box-shadow: 2px 0px 10px black;
}

h4 {
  display: inline-block;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 54px;
}
